table
{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

td,
th
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
