table
{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

td,
th
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

form
{
    display: table;
    margin: 5px;
}

div.search_box input[type="text"]
{
    height: 15px;
    width: 170px;
    vertical-align: middle;
}

p.heading
{
    font-weight: bold;
}

div.dropdown
{
     
}

div.date
{
    text-align: middle;
}

div.checkbox
{
    padding-left: 15px;
}

p.succeed
{
    color: green;
}

p.error
{
    color: red;
}

th
{
    background-color: #99ccff
}

.center
{
    text-align: center;
}